<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="job-seeker-container">
        <div *ngFor="let jobSeeker of jobSeekers" class="job-seeker-item">
          <div class="job-seeker-field">
            <span class="field-label"><em class="fas fa-id-card"></em></span>
            <span class="field-value">{{ jobSeeker.id }}</span>
          </div>
          <div class="job-seeker-field">
            <span class="field-label"><em class="fas fa-user"></em></span>
            <span class="field-value">{{ jobSeeker.name }}</span>
          </div>
          <div class="job-seeker-field">
            <span class="field-label"><em class="fas fa-clipboard-list"></em></span>
            <span class="field-value">{{ jobSeeker.skills.join(', ') }}</span>
          </div>
          <div class="job-seeker-field">
            <span class="field-label"><em class="fas fa-briefcase"></em></span>
            <span class="field-value">{{ jobSeeker.experience }}</span>
          </div>
          <div class="job-seeker-field">
            <span class="field-label"><em class="fas fa-map-marker-alt"></em></span>
            <span class="field-value">{{ jobSeeker.location }}</span>
          </div>
          <div class="job-seeker-actions">
            <button class="btn btn-danger" (click)="deleteJobSeeker(jobSeeker.id)"><em class="fas fa-trash"></em></button>
            <button class="btn btn-primary" (click)="showUpdateJobSeekerForm(jobSeeker)"><em class="fas fa-edit"></em></button>
          </div>

          <div *ngIf="this.updatedJobSeeker.id === jobSeeker.id" class="section-content">
            <div *ngIf="showJobSeekerUpdateForm" class="section-content">
              <h3>Update Job Seeker</h3>
              <form (submit)="updateJobSeeker()" class="job-seeker-update-form">
                <div class="form-field">
                  <label for="jobSeekerName">Name:</label>
                  <input type="text" id="jobSeekerName" [(ngModel)]="updatedJobSeeker.name" name="name" required class="form-control">
                </div>
                <div class="form-field">
                  <label for="jobSeekerExperience">Experience:</label>
                  <input type="text" id="jobSeekerExperience" [(ngModel)]="updatedJobSeeker.experience" name="experience" required class="form-control">
                </div>
                <div class="form-field">
                  <label for="jobSeekerLocation">Location:</label>
                  <input type="text" id="jobSeekerLocation" [(ngModel)]="updatedJobSeeker.location" name="location" required class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>