<div class="container">
  <div class="row">
    <div *ngIf="!showJobs" class="col-md-6">
      <div class="employer-wrapper">
        <div *ngFor="let employer of employers" (click)="getJobsByEmployer(employer.id)" class="employer-item">
          <div class="employer-field">
            <span class="field-label"><i class="fas fa-id-badge"></i></span>
            <span class="field-value">{{ employer.id }}</span>
          </div>
          <div class="employer-field">
            <span class="field-label"><i class="fas fa-building"></i></span>
            <span class="field-value">{{ employer.name }}</span>
          </div>
          <div class="employer-field">
            <span class="field-label"><i class="fas fa-info-circle"></i></span>
            <span class="field-value">{{ employer.description }}</span>
          </div>
          <div class="employer-field">
            <span class="field-label"><i class="fas fa-map-marker-alt"></i></span>
            <span class="field-value">{{ employer.location }}</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showJobs" class="col-md-6">
      <div class="job-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th>Job ID</th>
              <th>Title</th>
              <th>Applications</th>
              <th>
                <button (click)="showJobs = false" class="btn btn-danger">
                  <i class="fas fa-times"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of jobs">
              <td>{{ job.id }}</td>
              <td>{{ job.title }}</td>
              <td><button (click)="getApplications(job.id)" class="btn btn-primary">Show Job Applications</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="jobApplications.length > 0 && showJobs" class="col-md-6">
      <div class="application-wrapper">
        <div *ngFor="let application of jobApplications; let i = index">
          <div class="application-card" *ngIf="i === currentApplicationIndex">
            <button class="btn btn-danger report-button" (click)="reportJobSeeker(application.jobSeekerid)">
              <i class="fas fa-exclamation-triangle"></i>
            </button>
            <div class="field">ID: {{application.id}}</div>
            <div class="field">First Name: {{application.firstName}}</div>
            <div class="field">Middle Name: {{application.middleName}}</div>
            <div class="field">Last Name: {{application.lastName}}</div>
            <div class="field">Email: {{application.email}}</div>
            <div class="field">Gender: {{application.gender}}</div>
            <div class="field">Phone: {{application.phone}}</div>
            <div class="field">Cover Letter: {{application.coverLetter}}</div>
            <div class="field">Date: {{application.date}}</div>
            <div class="field">Month: {{application.month}}</div>
            <div class="field">Year: {{application.year}}</div>
            <div class="field">Street: {{application.street}}</div>
            <div class="field">City: {{application.city}}</div>
            <div class="field">State: {{application.state}}</div>
            <div class="field">Postal Code: {{application.postalCode}}</div>

            <button *ngIf="currentApplicationIndex > 0" (click)="moveToPreviousApplication()" class="btn btn-primary application-button">
              <i class="fas fa-chevron-left"></i> Previous Application
            </button>
            <button *ngIf="currentApplicationIndex < jobApplications.length - 1" (click)="moveToNextApplication()" class="btn btn-primary application-button">
              Next Application <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>