<div class="container">
  <div class="title">
    <h1> JOB DETAILS PAGE </h1>
  </div>
  <div class="card">
    <div class="card-image">
    <div class="card-details">
          <label>ID:
          <input type="text"[(ngModel)]="job.id" disabled></label>
          <br>
          <br>
          <label>Job Name:
          <input [(ngModel)]="job.title" ></label>
          <br>
          <br>
          <label>Description:
            <input [(ngModel)]="job.description" ></label>
            <br>
            <br>
          <label>Requirements:
          <input [(ngModel)]="job.requirements" ></label>
          <br>
          <br>
          <label>Employee ID:
          <input [(ngModel)]="job.employer.name" disabled ></label>
          <br>
          <br>
          <label>Job Location:
            <input [(ngModel)]="job.location" ></label>
          </div>
      <div class="apply-button" (click)="applyForJob(job.id)">APPLY</div>
    </div>
  </div>
  </div>


<div *ngIf="showApplyForm && selectedJobId" class="job-details-container">
    <app-job-application *ngIf="job && job.id === selectedJobId" [jobId]="selectedJobId" [jobSeekerId]=" jobSeekerId"></app-job-application>
</div>