<div class="topnav">
</div>
<body>
  <form>
<div class="page">
  <br>
<h1>Employer Profile</h1>

<br>
<label class="profile"><b>Profile Picture</b></label>
<mat-icon class="prof">account_circle</mat-icon>

<br>
  <br>
  <div class="form-outline">
    <label><b>Name</b></label><br>
    <div class="disname">
      {{user.name}}
    </div>
  </div>
  <br>
  
  <div class="form-outline">
    <label><b>Description</b></label><br>
    <div class="disdescription">
      {{user.description}}
    </div>
  </div>

   <br>
  <div class="form-outline">
    <label><b>Location</b></label><br>
    <div class="dislocation">
      {{user.location}}
    </div>
   </div>
   <br>
  <div class="form-outline">
    <label><b>DOB</b></label><br>
    <div class="disdob">
      {{user.dob}}
    </div>
  </div>
  <br>
  <div class="form-outline">
    <label><b>Email</b></label><br>
    <div class="disemail">
      {{user.email}}
    </div>
  </div>
  <br>
  <div class="form-outline">
    <label><b>Gender</b></label><br>
    <div class="disgender">
      {{user.gender}}
    </div>
  </div><br>
<div class="input-group mb-3">
  <button mat-button color="primary" style="background-color:violet" [routerLink]="['/editemployerprofile']" [queryParams]="{ employerId: employerId }">Edit</button> <br> 
  </div>
  <br>
</div>
  <div *ngIf="showEmployerUpdateForm" class="section-content">
    <app-editemployer-profile [employerId]="employerId" (employerUpdated)="updateEmployer($event)"></app-editemployer-profile>

  </div>
</form>
</body>