<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="employer-wrapper">
        <div *ngFor="let employer of employers">
          <div class="card employer-item" (click)="openEmployerDetails(employer.id)">
            <div class="card-body">
          
              <div class="employer-field">
                <span class="field-label"><em class="fas fa-id-badge"></em></span>
                <span class="field-value">{{ employer.id }}</span>
              </div>
              <div class="employer-field">
                <span class="field-label"><em class="fas fa-building"></em></span>
                <span class="field-value">{{ employer.name }}</span>
              </div>
              <div class="employer-field">
                <span class="field-label"><em class="fas fa-info-circle"></em></span>
                <span class="field-value">{{ employer.description }}</span>
              </div>
              <div class="employer-field">
                <span class="field-label"><em class="fas fa-map-marker-alt"></em> </span>
                <span class="field-value">{{ employer.location }}</span>
              </div>
            </div>
            <div class="employer-actions">
              <button class="btn btn-danger" (click)="deleteEmployer(employer.id)"><em class="fas fa-trash"></em></button>
              <button class="btn btn-primary" (click)="showUpdateEmployerForm(employer)"><em class="fas fa-edit"></em></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div *ngFor="let employer of employers">
        <div class="employer-details-container">
          <app-employer-profile *ngIf="showEmployersDetails && employer.id === selectedEmployerId" [employerId]="selectedEmployerId"></app-employer-profile>
        </div>
      </div>
    </div>
  </div>
</div>