
.employer-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.expired-label {
  background-color: #ffcccc;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #ff0000;
}
.report-icon{
  margin-left:90%;
}

.field-label {
  margin-right: 10px;
  width: 80px;
  font-weight: bold;
  color: #f0f9ff;

}

.field-value {
  flex: 1;
  color: #495057;
  margin-top: 10px;
}
/* Style the report button */
.report-button {

  background: none;
  
}

.report-button i {
  color: red;
  font-size: 1.5em;
  margin-right: 0px;
}


.employer-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}


.employer-actions button {
  margin-right: 5px;
}


.employer-field {
  margin-bottom: 5px;
}

.field-label {
  margin-right: 5px;
}


.field-value {
  font-weight: bold;
  font-size: large;
}

.fa-building,
.fa-file-alt,
.fa-map-marker-alt,
.fa-dollar-sign,
.fa-clipboard-list,
.fa-briefcase ,
.fa-id-badge,
.fa-info-circle{
  color: #000000; 
  margin-right: 5px;
  size: 20px;
}
