<div *ngIf="showJobSeekerForm" class="job-seeker-add-form">
  <form (submit)="addJobSeeker()">
    <div class="form-group">
      <label for="jobSeekerName">Name:</label>
      <input type="text" id="jobSeekerName" class="form-control" [(ngModel)]="newJobSeeker.name" name="name" required>
    </div>

    <div class="form-group">
      <label for="jobSeekerSkills">Skills:</label>
      <input type="text" id="jobSeekerSkills" class="form-control" [(ngModel)]="skillsInput" name="skills" required>
    </div>

    <div class="form-group">
      <label for="jobSeekerExperience">Experience:</label>
      <input type="number" id="jobSeekerExperience" class="form-control" [(ngModel)]="newJobSeeker.experience" name="experience" required>
    </div>

    <div class="form-group">
      <label for="jobSeekerLocation">Location:</label>
      <input type="text" id="jobSeekerLocation" class="form-control" [(ngModel)]="newJobSeeker.location" name="location" required>
    </div>

    <button type="submit" class="btn btn-primary">Add Job Seeker</button>
  </form>
</div>
