
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px; 
  background-color: #186FAF;
  color: #FFFFFF;
  display: flex;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header h1 {

  font-size: 24px; 
  font-weight: bold;

}

.header .fas.fa-bars {
  font-size: 35px;
  cursor: pointer;
  margin-left: 20px; 
  margin-right: 1000px;
}



.container {
  margin-top: 90px; 
  padding: 20px;
}

.section-content {
  margin-top: 20px;
}

.chart-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  margin-top: 50px;
  
}

.chart-container {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  height: 400px;
width: 400px;

  padding: 10px;
}

canvas {
  width: 100%;
  height: 100%;
}

/* Tables */
table {
  width: 100%;
  margin-top: 20px;
  margin-right: 0px;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td:not(:last-child) {
  border-right: 1px solid #ddd;
}


button {
  padding: 8px 16px;
  background-color: #186FAF;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #145D8E;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.app-task {
  position: absolute;
  top: 70px;
  left: 300px;
}

.job-applied {
  position: absolute;
  top: 340px;
  left: 320px;
}

.selected-applied {
  position: absolute;
  top: 340px;
  left: 460px;
}


h3 {
  font-size: 24px;
  font-weight: bold;
  color: #186FAF;
  margin-top: 0;
}

.link {
  color: #186FAF;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-control-file {
  display: block;
  width: 100%;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  margin-top: 10px;
}


.form-container {
  max-width: 600px;
  margin: 0 auto;
}