<div class="header">
  <div class="" [class.open]="isSidebarOpen" (click)="toggleSidebar($event)">

    <em class="fas fa-bars"></em>
  </div>
  <h1>Admin Dashboard</h1>
 
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<app-sidebar-component
*ngIf="isSidebarOpen"
(addJob)="showJobForm()"
(addEmployerform)="showsEmployerForm()"
(showfaq)="showFaq()"
[showSection]="showSection"
(sectionToggled)="toggleSection($event)"
(showReportedJobsEvent)="loadReportedJobs()"
(showReportedEmployersEvent)="loadReportedEmployers()"
(showEmployerAnalytics)="showEmployerAnalytics()"
(addJobSeeker)="showsJobSeekerForm()"
(addContentFormClicked)="openAddContentForm()"
(showReportedJobSeekersEvent)="loadReportedJobSeekers()"
></app-sidebar-component>

<div class="container">
  <div class="row">
  
    <div class="col-md-9">
      <!-- Charts -->
      <div class="chart-wrapper">
        <div class="chart-container" *ngIf="showChart">
          <div class="chart">
            <canvas baseChart
              [datasets]="[{ data: [jobs.length, deletedjobs.length], label: 'Data' }]"
              [labels]="jobchartLabels"
              [options]="chartOptions"
              [type]="'pie'">
            </canvas>
          </div>
        </div>

        <div class="chart-container" *ngIf="showChart">
          <div class="chart">
            <canvas baseChart
              [datasets]="[{ data: [employers.length, deletedEmployer.length], label: 'Data' }]"
              [labels]="employerchartLabels"
              [options]="chartOptions"
              [type]="'pie'">
            </canvas>
          </div>
        </div>

        <div class="chart-container" *ngIf="showChart">
          <div class="chart">
            <canvas baseChart
              [datasets]="[{ data: [jobSeekers.length, deletedJobSeekers.length], label: 'Data' }]"
              [labels]="jobseekerschartLabels"
              [options]="chartOptions"
              [type]="'pie'">
            </canvas>
          </div>
        </div>
      </div>

     
      <div *ngIf="showReportedJobs">
        <div *ngIf="reportedJobs" class="section-content">
          <table class="table table-bordered">
            <caption>List of reported jobs and their actions</caption>
            <thead>
              <tr>
                <th>Job Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of reportedJobs">
                <ng-container *ngIf="!job.deleted">
                  <td>{{ job.title }}</td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteJob(job.id)">Delete</button>
                    <button class="btn btn-info" (click)="unreportJob(job)">Unreport</button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  
      <div *ngIf="showReportedEmployers">
        <div *ngIf="reportedJobs" class="section-content">
          <table class="table table-bordered">
            <caption>List of reported employers and their actions</caption>
            <thead>
              <tr>
                <th>Employer Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of reportedJobs">
                <ng-container *ngIf="!job.employer.deleted">
                  <td>{{ job.employer.name }}</td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteEmployer(job.employer.id)">Delete</button>
                    <button class="btn btn-info" (click)="unreportEmployer(job)">Unreport</button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="showReportedJobSeekers">
        <div *ngIf="reportedJobSeekers" class="section-content">
          <table class="table table-bordered">
            <caption>List of reported job seekers and their actions</caption>
            <thead>
              <tr>
                <th>Job Seeker Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jobSeeker of reportedJobSeekers">
                <ng-container *ngIf="!jobSeeker.deleted">
                  <td>{{ jobSeeker.name }}</td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteJobSeeker(jobSeeker.id)">Delete</button>
                    <button class="btn btn-info" (click)="unreportJobSeeker(jobSeeker)">Unreport</button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  
      <div>
        <div *ngIf="showsJobForm">
          <app-addjobform-component [queryParams]="queryParams"></app-addjobform-component>
        </div>
      </div>


      <div *ngIf="!showEmployerForm && !showEmployersAnalyticsPage && !showReportedEmployers && showSection === 'employers'" class="section-content">
        <app-employercomponent></app-employercomponent>
      </div>

  
      <div *ngIf="showEmployerForm && !showReportedEmployers">
        <app-addemployerform-component></app-addemployerform-component>
      </div>

      <div *ngIf="showEmployersAnalyticsPage" class="section-content">
        <app-employeranalytics-component></app-employeranalytics-component>
      </div>

      <div class="section-content" *ngIf="!showAddPostForm && !showfaq && showSection === 'CMS'">
        <app-cms-component [isAdminLoggedIn]="true"></app-cms-component>
      </div>

      
      <div *ngIf="!showAddPostForm && showfaq" class="faq">
        <app-faqform-component [isAdminLoggedIn]="true"></app-faqform-component>
      </div>

      <div class="chart-wrapper" *ngIf="showAddPostForm">
       
        <form (submit)="addPost()">
          <h2>Add New Post</h2>
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="newPost.title" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="content">Content:</label>
            <textarea id="content" name="content" [(ngModel)]="newPost.content" class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" (change)="uploadFile($event)" accept="image/*" class="form-control-file">
          </div>
          <button type="submit" class="btn btn-primary">Add Post</button>
        </form>
     
      </div>


      <div *ngIf="!showReportedJobSeekers && !showJobSeekerForm && showSection === 'jobSeekers'" class="section-content">
        <app-jobseekercompoent-component></app-jobseekercompoent-component>
      </div>
    

    
      <div *ngIf="showJobSeekerForm">
        <app-addjobseekerform-component (showsJobSeekerForm)="showsJobSeekerForm()"></app-addjobseekerform-component>
      </div>

 
      <div class="job-applied" *ngIf="showChart">
        <div style="width: 800px; height: 400px; margin-top:200px;margin-left:200px">
          <canvas baseChart
            [datasets]="[{ data: jobChartmonthsData, label: 'Jobs Posted' }]"
            [labels]="jobchartmonthsLabels"
            [options]="chartOptions"
            [legend]="true"
            [type]="chartTypes">
          </canvas>
        </div>
      </div>

     
      <div *ngIf="!showsJobForm && !showReportedJobs && showSection === 'jobs'" class="section-content">
        <app-jobcompoent-component [jobSeekerId]="jobSeekerId"></app-jobcompoent-component>
      </div>

      <div class="app-task" *ngIf="showTask">
        <app-task-component></app-task-component>
      </div>
    </div>
  </div>
</div>