    <!-- Full-width Navbar -->
    <nav>
        <div class="logo">
          <div class="navbar-brand">JOBHUB</div>
        </div>
        <div class="icon">
          <span class="toggle">☰</span>
        </div>
        <ul class="list-item">
          <li><a routerLink="/landingpage">Home</a></li>
          <li><a href="/job-serach">Job Search</a></li>
          <li><a routerLink="/FAQ">FAQ</a></li>
          <li><a routerLink="/FAQ">CMS</a></li>
           <li><a href="#">Contact</a></li>
          <li><a href="#">About US</a></li>
          <li><a routerLink="/signin">SignIn</a></li>
          <li><a routerLink="/signup">SignUp</a></li>
        </ul>
      </nav>
  