<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div class="container">
<div class="navbar">
 
  <a class="navbar-link" [routerLink]="['/signin']">Sign Out</a>
  <a class="navbar-link" [routerLink]="['/jobseekerdashboard']" [queryParams]="{ jobSeekerId: jobSeekerId}">Dashboard</a>
  <a class="navbar-link" [routerLink]="['/jobseekerdetails']" [queryParams]="{ jobSeekerId: jobSeekerId}">My Profile</a>
  
  <h1>Job Search Page</h1>

</div>
<div  class="searchbox">
  <label for="title" style="font-weight: bold;">Title:</label>
  <input id="title" type="text" [(ngModel)]="title">
  <label for="location" style="font-weight: bold;">Location:</label>
  <input id="location" type="text" [(ngModel)]="location">
  <label for="sortBy" style="font-weight: bold;">Sort By:</label>
  <select id="sortBy" [(ngModel)]="sortBy">
    <option value="salary">Salary</option>
    <option value="live">Live Jobs</option>
  </select>
  <button (click)="sortJobs()">Sort</button>
  <button (click)="searchJobs()">Search</button>
</div>
<div class="job-wrapper">
  
  <div class="job-container" >
    <div *ngIf="noJobsPosted">No job Posted</div>

  <div  class="job-item"  *ngFor="let job of (showDeletedJobs ? deletedjobs : jobs) "   [ngClass]="{'expired': job.deleted}">
   <div   (click)="openJobDetails(job.id)">
    <button class="report-button" (click)="reportJob(job.id)">
    
      <i class="fas fa-exclamation-triangle"></i>
    </button>
   
    <div class="job-field">
      <span class="field-label"><i class="fas fa-building"></i></span>
      {{job.employer.name}}
    </div>
    <div class="job-field">
      <span class="field-label"><i class="fas fa-file-alt"></i></span>
      <span class="field-value">{{ job.title }}</span>
    </div>
    <div class="job-field">
      <span class="field-label"><i class="fas fa-map-marker-alt"></i></span>
      <span class="field-value">{{ job.location }}</span>
    </div>
    <div class="job-field">
      <span class="field-label"><i class="fas fa-dollar-sign"></i></span>
      <span class="field-value">{{ job.salary }}</span>
    </div>
    <div class="job-field">
      <span class="field-label"><i class="fas fa-clipboard-list"></i></span>
      <span class="field-value">{{ job.requirements }}</span>
    </div>
    <div class="job-field">
      <span class="field-label"><i class="fas fa-briefcase"></i></span>
      <span class="field-value">{{ job.jobType }}</span>
      <div class="expired-label" *ngIf="job.deleted">
        Expired
      </div>
     
   </div>
  

</div>
  <button class="apply-button" (click)="applyForJob(job.id)">Apply</button>
 </div>
 </div>
 <div *ngFor="let job of jobs">
  <div *ngIf="showApplyForm &&  selectedJobId && !isAccessedFromEmployer" class="job-details-container">
    <app-job-application *ngIf="job.id === selectedJobId" [jobId]="selectedJobId" [jobSeekerId]="jobSeekerId"></app-job-application>
  </div>
  <div *ngIf="showJobDetails && job.id === selectedJobId" class="job-details-container">
    <app-job-details [jobId]="job.id" [jobSeekerId]="jobSeekerId"></app-job-details>
    
  </div>
</div>
</div>